.loginButton{
    position: absolute;
	right: 10px;
}

form{
	margin-top: 200px;
}

.flower{
	border:2px solid Violet;
}
img{
	float:left;
	margin:50px 50px 50px 50px;
}
p{
	float:left;
	margin-top:200px;
}
